{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true,
    "baseUrl": "./src",
    "paths": {
      "@root/*": ["./*"],
      "@config/*": ["./config/*"],
      "@interfaces/*": ["./interfaces/*"],
      "@helpers/*": ["./helpers/*"],
      "@tools/*": ["./tools/*"],
      "@api/*": ["./api/*"],
      "@resources/*": ["./resources/*"]
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": true,
  "inlineSourcesContent": true
}
